body {
  font-family: "Roboto", sans-serif;
}

.center {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.center a:hover {
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: blueviolet;
}
