.uk-navbar-container {
  background-color: #14110f !important;
  color: white;
}

/* Efecto de blanco y negro */
.img-hover-zoom img {
  transition: filter 2s;
  filter: grayscale(0);
}

.img-hover-zoom:hover img {
  filter: grayscale(50%);
}
