@font-face {
  font-family: Sifonn;
  src: url("../../static/fonts/sifonn/SIFONN_PRO.otf");
}

.uk-navbar-container {
  background-color: #14110f !important;
  color: white;
}

/* Efecto de blanco y negro */
.img-hover-zoom img {
  transition: filter 2s;
  filter: grayscale(0);
}

.img-hover-zoom:hover img {
  filter: grayscale(50%);
}

.main-background-image {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0)
  );
}

.name-banner {
  font-family: Sifonn;
  font-size: 7vw;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  text-shadow: rgb(0, 0, 0) -2px 3px 9px;
}

.name-banner .name-banner-color1 {
  color: #55cdfc;
}

.name-banner .name-banner-color2 {
  color: #f7a8b8;
}

.page-title-banner {
  font-family: Sifonn;
  font-size: 7vw;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

.post-title-banner {
  font-family: Sifonn;
  font-size: 5vw;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: rgb(0, 0, 0) -2px 3px 9px;
}
